<!DOCTYPE html>
<html>
  <head>
    <title>Express API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Test test</h1>
    <div class="user-based">
		<% if (user) { %>
			<a href="/logout">Log Out</a>
			<input type="button" value="Create a google doc">
		<% } else { %>
			<a href="/auth/google"> Log in with Google</a>
		<% } %>
	</div>
  </body>
</html>
